.btn:hover {
    color: green !important;
}

.dropdown-item:hover {
    color: green !important;
}

.ul-hvr .hvr a:hover {
    color: green !important;
}

.btn-hvr:hover {
    color: #277A3D;
}

.card-btns:hover {
    background-color: #277A3D;
    color: #fff;
}

.card-t:hover {
    color: #277A3D;
    cursor: pointer;
}

.first-carts :hover {
    cursor: pointer;
    transform: scale(1.1);
}


.second-carts :hover {
    cursor: pointer;
    transform: scale(1.1);
    
}